$main-color:#F16D7F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
    margin-bottom: 30px;
    background-color: $main-color;
    color: #fff;
}

.container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 10px;

    p {
        font-size: 20px;
        text-align: left;
        color: white;
    }
    p:first-child {
        font-size: 14px;
        text-align: right;
        color: white;
        padding-bottom: 10px;
    }
    p:last-child {
        font-size: 14px;
        text-align: right;
        color: white;
        padding-top: 10px;
    }
    h2 {
        text-align: left;
        color: white;
    }

    button {
        padding: 10px;
        margin-right: 40px;
        margin-top: 20px;
        color: white;
        border: none;
        background-color: $main-color;
        transition: all 2s;
        cursor: pointer;
    }

    button:active {
        transform: scale(0.8);
    }
    button:disabled{
        background-color: gray;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 360px;
    }

    textarea {
        width: 50vh;
        height: auto;
        margin-top: 20px;
        margin-right: 40px;
    }

    select {
        margin-bottom: 30px;
    }
}

.message {
    width: 50vh;
    height: auto;
    justify-content: space-between;
    padding: 10px;
    background-color: slategray;
    margin-top: 10px;
}